@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    font-size:2rem;
    
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

a{
    color:yellow;
    font-size: 1;
    text-decoration: none;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
    background-size: cover;
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
     font-size: 36px;
     font-weight: 500;
     color: #fff;
}
.contact .content p {
    font-weight: 500;
    color: #fff;
} 

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color:#fff;
}

 .container .contactInfo{
     width: 50%;
     display: flex;
     flex-direction: column ;
 }

 .container .contactInfo .box{
    position: relative;padding: 20px 0;
    display: flex; 
     
 }

 .container .contactInfo .box .icon{
     min-width: 60px;
     height: 60px;
     background: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     font-size: 22px;
 }
 .container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
 }
 .container .contactInfo .box .text h3{
     font-weight: 500;
     color: #00bcd4;
 }

 .contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
 }

 .contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
 }

 .contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
 }

 .contactForm .inputBox input,
 .contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
 }

 .contactinfo {

    display: flex;
    justify-content:space-between;
    align-items: center;
    column-gap: 3rem;
 }

 .contactForm .inputBox span{
     position: absolute;
     left: 0;
     padding: 5px 0;
     font-size: 16px;
     margin: 10px 0;
     pointer-events: none;
     transition: 0.5s;
     color: #666;
 }

 h1 {

    color: white;
 }

 .contactForm .inputBox input:focus ~ span,
 .contactForm .inputBox input:valid ~ span,
 .contactForm .inputBox textarea:focus ~ span,
 .contactForm .inputBox textarea:focus ~ span{
      color: #e91e63;
      font-size: 12px;
      transform: translateY(-20px);
 }

 .contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
 }

@media (max-width: 991px){
    .contact{
        padding: 50px ;
    }
    .container{
        flex-direction: column;
    }

    .container .contactInfo{
        margin-bottom: 40px;
    } 
    .container .contactInfo,
    .contactForm{
        width: 100%;
    }
}
/* 
.about-section{
    background: url(../space.png) no-repeat left;
    background-size: 55%;
    background-color: dodgerblue;
    overflow: hidden;
    padding: 100px 0;
    font-size: 5rem;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;

}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 20px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

h1{
    font-size:4rem;
}


a{
    font-size: 25px;
}

a:hover{
} */