body{
    background-image: url(../img/pexels.png.jpg);
   background-repeat: no-repeat;
}
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;

}



.log-in {

    display: flex;
    flex-direction: column;  
    row-gap: 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    margin: 8rem;
    padding: 2rem;
    border-radius: 2rem;

  
   

}

h1 {

    text-align: start;
color:white
}

.input-data {

    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-right:400px;
    margin-left: 400px;
    


}

input {
padding-left:40px;
    border-radius: 2rem;
    padding-top: 40px;
    padding-bottom: 25px;
    font-size: 1.6rem;

    
}


.btn-cont{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.login-btn{

    padding: 2rem 2rem;
    background: black;
    border-radius: 2rem;
    border: none;
    color: white;
    width: 250px;
    cursor: pointer;
    font-size: 1.6rem;


}

.sign-in-link{

    text-decoration: none;
    color:white;
    margin: 1em;
    display: flex;
gap: 40px;
font-size: 1.2rem;
}

.sign-in-link span {

    font-weight: bold;
}