<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="/component/login.css" />
  <script src="./login.js" type="module" defer></script>
</head>

<body>
  <section class="log-in">

    <h1>Log In</h1>
    <div class="input-data">
      <input type="text" class="user-mail" id="usermail" placeholder="Enter your email" required>
      <input type="text" class="password" id="password" placeholder="Enter your password " required>
    </div>
    <div class="btn-cont">
      <button class="login-btn" id="log-in">Login</button>
      <a href="/component/signup.html" class="sign-in-link">Not register yet?<span>SignUp</span></a>
    </div>


  </section>

</body>

</html>