<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="/component/login.css" />
    <script src="/component/app.js" type="module" defer></script>
    
</head>
<body>
    <section class="log-in">
     
        <h1>SignUp</h1>
        <div class="input-data">
            <input type="text"  class="user-name" id="username" placeholder="Enter your name" required>
            <input type="text"  class="user-mail"  id="usermail" placeholder="Enter your email" required>
             <input type="text" class="password" id="password" placeholder="Enter your password"required min="5">
             <input type="text" class="comfirm-password" id="comfirm-password" placeholder="Enter your comfirm password" required min="5">
        </div>
        <div class="btn-cont">
            <button class="login-btn" id="Sign-up">SignUp</button>
            <a href="/component/login.html" class="sign-in-link">Already resigter?<span>SignIn</span></a>
        </div>
         

     
    </section>

   

</body>




</html>